---
images:
    - /assets/img/25-1.jpg
    - /assets/img/28.jpg
    - /assets/img/29.jpg
    - /assets/img/35.jpg
layout: default
pagination:
    enabled: true
    collection: produtos
---

<div class="slider hide-on-small-only">
    <ul class="slides">
        {% for item in page.images %}
            <li>
                <img src="{{ item }}">
            </li>
        {% endfor %}
    </ul>
</div>

{% include categories-section.html %}

<section class="section">
    {% include grid-loop.html %}
</section>

{% include pagination.html %}
