<section class="section grey lighten-4">
    <section class="">
        <h4 class="center-align">Categorias</h4>
        <section class="row">
            {% for item in site.data.nav %}
                <div class="col s12 l3">
                    <div id="cartao" class="card hoverable">
                        <div class="card-image">
                            <a href="{{ item.link }}">
                                <img src="{{ item.image }}" alt="{{ item.title }}">
                            </a>
                            <div class="center-title">
                                <h5>{{ item.title }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
</section>