<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="{{ site.color }}">
    
    {% seo %}

    {% include scssify.html %}
    
    <script src="/assets/js/jquery.min.js" defer></script>
    
    {% include snipcart.html %}
    
    {% unless page.layout == "page" %}
        <!-- include the widget -->
        <script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endunless %}
</head>
