<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a 
                href="/" 
                class="brand-logo center tooltipped hide-on-med-and-down" 
                data-position="bottom" 
                data-delay="50" 
                data-tooltip="{{ site.title }}">
                {{ site.title }}
            </a>
            <a href="#" data-target="sideNav" class="sidenav-trigger show-on-large"><i class="fa-2x fas fa-bars"></i></a>
            <!--
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="#" class="dropdown-trigger" data-target="dropdown-menu">
                        Produtos
                        <i class="fa-xs fas fa-chevron-down"></i>
                    </a>
                </li>
            </ul>

            <ul id="dropdown-menu" class="dropdown-content">
                {% include nav.html %}
            </ul>
            -->

            <ul class="right">
                <li>
                    <a 
                        href="#" 
                        class="snipcart-checkout waves-effect waves-light tooltipped"
                        data-position="bottom" 
                        data-delay="50" 
                        data-tooltip="Carrinho de Compras">
                        <i class="fas fa-cart-plus"></i>
                        <span class="new badge snipcart-summary">
                            <span class="snipcart-total-items"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>