<aside id="sideNav" class="sidenav">
    <a href="/" title="{{ site.title }}">
        <img src="{{ site.image }}" alt="{{ site.title }}">
    </a>
    <div class="card hoverable">
        <div class="input-field">
            <input type="search" name="search" id="search">
            <label for="search" class="label-icon">
                <i class="fas fa-search"></i>
            </label>
        </div>
    </div>
    <div class="divider"></div>

    <ul>
        {% include nav.html %}
    </ul>
</aside>